
<%- include("partials/header"); -%>

<div  class="my-3 flex mx-auto content-center">
    <span class=" content-center mx-auto opacity-90 px-2 text-2xl text-black shadow rounded  font-bold">Post : <%=title%> </span>
</div>

<div id="content" class=" w-3/5 text-center items-center mx-auto shadow-xl my-auto py-3 px-3 rounded">
  <p class="px-3 py-2 font-medium text-xl"><%=title%></p>
<p class="px-3 pb-3  text-sm font-medium">
    <%= content %> </p>
</div>

  
<%- include("partials/footer"); -%>
